<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Usuários</title>
</head>
<body>

<h1>Lista de Usuários</h1>

<a href="/formUsuario">Novo Usuário</a>

<table border="1" cellpadding="8" style="margin-top: 20px;">
    <tr>
        <th>ID</th>
        <th>Login</th>
        <th>Ações</th>
    </tr>

    <tr th:each="u : ${usuarios}">
        <td th:text="${u.id}"></td>
        <td th:text="${u.login}"></td>

        <td>
            <a th:href="@{'/usuarios/editar/' + ${u.id}}">Editar</a>
            |
            <a th:href="@{'/usuarios/deletar/' + ${u.id}}">Deletar</a>
        </td>
    </tr>

</table>

</body>
</html>
